{% extends "base.html" %}

{% block title %}{{ site_title }}{% endblock %}

{% block page %}
  <div class="index-page">
    <section>

      {% for page in pages %}
        <article class="summary">
          <header>
            <h1>{{ page.title }}</h1>
          </header>

          <div class="summary-content">
            {{ page.summary|safe }}
          </div>

          <p>
            <a href="{{ page.url }}">Read more</a>
          </p>
        </article>
      {% endfor %}

    </section>
  </div>
{% endblock %}
